@use 'variables' as *;

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  padding: clamp(1rem, 5vw, $padding-medium);
  position: relative;
  z-index: 1;

  @media (max-height: 600px) {
    padding-top: 5rem;
  }
}