@use 'variables' as *;

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: $padding-medium;
  background: linear-gradient(
    to bottom,
    $gradient-start,
    $gradient-end
  );
}
